@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700&subset=latin,cyrillic);

body {
    /*background: #123;*/
    color: #333;
    font-size: 11px;
    height: auto;
    padding-bottom: 20px;
    font: normal 400 12px/1.4 arial,sans-serif;

}

header {
    background-color: #69f;
}

header h1 {
    height: 88px;
    font-size: 44px;
    line-height: 88px;
    margin: 0;
    color: #fff;
    font-family: "PT Sans Narrow", sans-serif;

}

.logo{
    background: 0 0 transparent scroll no-repeat url("/img/logo.png");
    height:100px;
}

.content {
    background: #fff;
    /*border-radius: 11px 11px 0 0 ;*/
}


.searchForm {
  margin:  35px 0;

}

.searchForm fieldset {
  margin:  0px;
}


.map {
    min-height: 400px;
    margin-bottom: 11px;

}

.footer{
    color:#fff;
    text-align: center;
}

label {

}


